.bg-img {
    top: 0;
    left: 0;
    width: 1400px;
    height: 400px;
    z-index: -1;
    background-image: url(../assets/london.jpeg);
}

.bg-img h1,
.bg-img h4 {
  margin: 0;
  padding: 0;
}

.title h2 {
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 5px;
}

.description h4 {
    margin: 0;
    padding: 0;
}
.r-box {
    width: 800px;
    height: 150px;
    background-color: rgba(255, 165, 0, 0.8);
    border-radius: 40px; /* Adjust the value to change the roundness */
    text-align: center;
    margin-left: 300px;
    margin-top: 25px;
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    justify-content: space-between; /* Space between title, description, and buttons */
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }


  

/* Add this CSS to your styles file or component */

.rounded-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    cursor: pointer;
    border-style: solid;
    border-color:#ffff;
  }
  
  /* You can add additional styles or hover effects as needed */
  .rounded-button:hover {
    background-color: #ffff; /* Change background color on hover */
  }
  
  .rounded-button.selected {
    background-color: #fff; /* Change background color for selected button */
  }